@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:100,400');

body {
  margin: 0;
  font-family: "Lato";
  width: 100%;
}
h1 {
  font-family: "Lato";
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: "Lato";
  margin: 60px 0 10px;
}
h3 {
  font-family: "Montserrat";
  color: #707070;
  height: 40px;
}
h4 {
  font-family: "Lato";
  color: #707070;
  margin: 10px 0;
}

p {
 color: #707070;
 font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #707070;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 2px solid #70707070;
  outline-offset: 10px;

}

footer {
  color: white;
  /* background-color: #FFB5C7; */
  background-color: #89B0AE;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0 0;
}

footer p {
  margin: 0;
  font-weight: lighter;
  color: #16405B;
}

footer h4 {
  color: #16405B;
  margin: 10px 0;
  font-size: 24px;
}

.buttonContainer {
  padding: 30px 0;
}

.button{
  color: #16405B;
  background-color: #89B0AE;
  font-family: "Montserrat";
  text-align: center;
  border: none;
  cursor: pointer;
  width: 180px;
  padding: 15px;
  margin: 50px 0;
  display: inline-block;
  font-weight: bolder;
  font-size: 20px;
}

.button:hover {
  color: #16405B;
  background-color: #A5D3D1;
  /* border: 1px solid #16405B; */
}

.button:focus {
  outline: 2px solid #70707070;
  outline-offset: 5px;
}

.pageContent {
  box-sizing: border-box;
  width: 100%;
  padding: 0 130px;
}

.aboutMe {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 60px 0 0;
}
.aboutMeLeft, .aboutMeRight {
  width: 50%;
  padding: 40px 0;
}

.aboutMeLeft img {
  width: calc(100% - 40px);
  margin: 0 40px 0 0;
}

.aboutMeRight p {
  font-size: 24px;
}

.techBox {
  width: 100%;
  margin: 60px 0 30px;
}
.techBox p {
  font-size: 24px;
}
.gridContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.gridBox {
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  object-fit: scale-down;
}
.gridBox img {
 width: 100%;
}

.gridBox h3 {
  color: #707070;
}

.gridBox a:hover {
  text-decoration: underline;
}

.skillsContainer, .studiesContainer {
  display: flex;
  flex-flow: wrap row;
}
.list {
  box-sizing: border-box;
  width: 33.33%;
  padding-right: 25px;
}

.backNavContainer {
  height: 30px;
}

.backNav {
  background-color: #fff;
  color: #16405B;
  padding: 10px;
  margin: 10px;
  display: block;
  width: 50px;
}

.backNav:hover {
  font-size: 18px;
  text-decoration: underline;
}

.backNav:focus {
  outline: 2px solid #70707070;
  outline-offset: 2px;
}

.caseContainer {
  box-sizing: border-box;
  width: 100%;
  object-fit: scale-down;
  margin-top: 10px;
}

.caseContainer img {
  width: 100%;
  padding: 10px 0;
}

.caseContainer p {
  line-height: 1.5;
  font-weight: lighter;
  color: #707070;
  padding-bottom: 30px;
}

.caseTextContainer {
  width: 70%;
}

.caseTechSpecsContainer {
  padding-bottom: 40px;
  display: flex;

}

.centerButton{
  height: 150px;
  display: flex;
  justify-content: center;
}

.codeButton {
  text-align: center;
}
@media screen and (max-width: 900px){

  .buttonContainer {
    padding: 0;
    text-align: center;
  }

  .pageContent {
    padding: 0 20px;
  }

  .aboutMe {
    padding: 40px 0;
  }

  .aboutMeLeft, .aboutMeRight {
    width: 100%;
    padding: 0;
  }

  .aboutMeLeft img {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .techBox {
    width: 100%;
    margin: 0;
  }

  .gridBox {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    object-fit: scale-down;
  }

  .skillsContainer, .studiesContainer {
    display: flex;
    flex-flow: wrap column;
  }
  .list {
    box-sizing: border-box;
    width: 100%;
    padding-right: 25px;
  }
  .caseTextContainer {
    width: 100%;
  }
}
