@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIGJOHN.otf);
}
/* @font-face {
  font-family: SlimJoe;
  src: url(/fonts/SlimJoe.otf);
} */

body {
  margin: 0;
  font-family: sans-serif;
  width: 100%;
}
h1 {
  font-family: BigJohn;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: BigJohn;
  margin: 30px 0 10px;
}
h3 {
  font-family: BigJohn;
  color: #707070;
}
h4 {
  font-family: BigJohn;
  margin: 10px 0;
}

p {
 color: #707070;
 font-weight: lighter;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #707070;
}

a {
  text-decoration: none;
}

footer {
  color: white;
  background-color: #F4A732;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0 0;
}

footer p {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
  color: white;
}

.buttonContainer {
  padding: 30px 0;
}

.button{
  color: #F4A732;
  background-color: #FDE7C4;
  font-family: BigJohn;
  text-align: center;
  border: none;
  /* border-radius: 20px; */
  outline: none;
  cursor: pointer;
  width: 150px;
  padding: 15px;
  margin: 50px 0;
  display: inline-block;
}

.button:hover {
  color: #FDE7C4;
  background-color: #F4A732;
}

.pageContent {
  box-sizing: border-box;
  width: 100%;
  padding: 0 150px;
}
/* Starting page */
.aboutMe {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 120px 0 0;
}
.aboutMeLeft {
  width: 40%;
}

.aboutMeLeft img {
  width: calc(100% - 50px);
  margin: 40px 0 0;
}

.aboutMeRight {
  width: 60%;
}

.aboutMeRight p {
  font-size: 24px;
}

.techBox {
  width: 100%;
  margin-top: 40px;
}
.techBox p {
  font-size: 24px;
}
.gridContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 30px 0;
}

.gridBox {
  box-sizing: border-box;
  padding: 10px 20px 0 0;;
  width: 50%;
  object-fit: scale-down;

}
.gridBox img {
 width: 100%;
}

.gridBox h3 {
  color: #707070;
  height: 50px;
}

.skillsBox, .studiesBox {
  display: flex;
  flex-flow: wrap row;
}
.list {
  width: 33.33%;
}
/* Project page */
.backNavContainer {
  height: 30px;
}

.backNav {
  color: #F4A732;
  margin-top: 40px;
}

.backNav:hover {
  font-size: 18px;
  text-decoration: underline;
}

.caseContainer {
  box-sizing: border-box;
  width: 100%;
  object-fit: scale-down;
  margin-top: 20px;
}

.caseContainer img {
  width: 100%;
  padding: 10px 0;
}

.caseContainer p {
  line-height: 1.5;
  font-weight: lighter;
  color: #707070;
}

.caseTextContainer {
  width: 70%;
}

.caseTechSpecsContainer {
  padding: 40px;
  display: flex;
  justify-content: space-between;

}

.caseTechSpecBox {
  display: flex;
  flex-direction: column;
}

.centerButton{
  display: flex;
  justify-content: center;
}

.codeButton {
  text-align: center;
}
@media screen and (max-width: 900px){
  .gridBox {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    object-fit: scale-down;
  }
}
